@import "font-awesome-sprockets";
@import "font-awesome";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

body {
  // background: -webkit-linear-gradient(-90deg, #B24592 10%, #F15F79 90%); /* Chrome 10+, Saf5.1+ */
  // background:    -moz-linear-gradient(-90deg, #B24592 10%, #F15F79 90%); /* FF3.6+ */
  // background:     -ms-linear-gradient(-90deg, #B24592 10%, #F15F79 90%); /* IE10 */
  // background:      -o-linear-gradient(-90deg, #B24592 10%, #F15F79 90%); /* Opera 11.10+ */
  // background:         linear-gradient(-90deg, #B24592 10%, #F15F79 90%); /* W3C */
  font-family: Omnes;
  background-color: snow;
  color: lightgray;
  line-height: 1.8;
  font-size: 16px;
}

p, ol, ul, td {
  font-family: Omnes;
  font-size: 1.125em;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: snow;
  text-decoration: none;
  &:visited {
    color: snow;
  }
  &:hover {
    color: yellow;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: pink;
}

.field_with_errors {
  padding: 2px;
  background-color: palevioletred;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid palevioletred;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #pink;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

span.color-name {
  font-family: Omnes;
  font-size: 2em!important;
  padding: 1em .25em;
  line-height: 1em;
}

li {
  .fa {
    margin-right: 10px;
  }
}

.tabs .tab {
  font-size: 14px;
  font-weight: 100;
  border-right: 1px solid #f2f3f3;
}

.tabs .tab:nth-last-child(1) {
    border-right: none;
}

.chip {
  background-color: white!important;
  opacity: .5;
  line-height: 34px!important;
}
.card-action a:nth-of-type(2) {
  margin-left: 7.5px;
}

.card-action {
  .fa {
    font-size: 1.25em;
  }
}

nav {
  .brand-logo {
    padding: 0 .5em!important;
  }
}
